<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>dor</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>login.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>ImageServlet</servlet-name>
		<servlet-class>servlet.ImageServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImageServlet</servlet-name>
		<url-pattern>/servlet/ImageServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/servlet/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>UpdateServlet</servlet-name>
		<servlet-class>servlet.UpdateServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UpdateServlet</servlet-name>
		<url-pattern>/servlet/UpdateServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteServlet</servlet-name>
		<servlet-class>servlet.DeleteServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteServlet</servlet-name>
		<url-pattern>/servlet/DeleteServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SearchServlet</servlet-name>
		<servlet-class>servlet.SearchServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SearchServlet</servlet-name>
		<url-pattern>/servlet/SearchServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>RemoveServlet</servlet-name>
		<servlet-class>servlet.RemoveServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RemoveServlet</servlet-name>
		<url-pattern>/servlet/RemoveServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FareServlet</servlet-name>
		<servlet-class>servlet.FareServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FareServlet</servlet-name>
		<url-pattern>/servlet/FareServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ImportServlet</servlet-name>
		<servlet-class>servlet.ImportServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ImportServlet</servlet-name>
		<url-pattern>/servlet/ImportServlet</url-pattern>
	</servlet-mapping>
<error-page>
  		<error-code>404</error-code>
		
		<location>/404.html</location>
	</error-page>
	<filter>
		<filter-name>noCacheFilter</filter-name>
		<filter-class>filter.NoCacheFilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>noCacheFilter</filter-name>
		<url-pattern>*.jsp</url-pattern>
	</filter-mapping>

</web-app>